h2{color: blueviolet;
    text-align:center;
    font-style: italic;
background-color: black;
border:2px;
border-style:dotted;
border-color: black;
border-radius: 32px;
border-right: 2cm;
font-family: Georgia, 'Times New Roman', Times, serif;
}
p{color:rgb(11, 11, 7);
    text-align: center;
    text-decoration: dotted;
    border-style: groove;
    font-style: italic;
  font-family:'Times New Roman', Times, serif;
border-color: black;
border-radius: 2px;
box-shadow: inset;}
table,th,td{
    border:2px;
    text-align: center;
        text-decoration: dotted;
        border-style: groove;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        border-color: black;
        border-radius: 2px;
        width: 70%;
}
img{width: 700px;
    height: 200px;
    margin-left: 20%; 
}
li{
    list-style: square;
}
.headingclass
{
    background-color: rgb(173, 19, 44);
    margin: 20px 50px 60px 80px 110px;
    margin-trim: trim 2px; 
    padding: 30px;
    background-image:url("https://ccsit.uoc.ac.in/images/ccsit-cu/ccsit_slider_img1_extended.jpg");
}

